@model HMS.Areas.Dashboard.ViewModel.AccomodationPackageListingModel

@if (Model != null && Model.AccomodationPackage != null && Model.AccomodationPackage.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Fee Per Night</th>
                <th scope="col">Accomodation Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var accomodationPackage in Model.AccomodationPackage)
            {
                <tr>
                    <td>@accomodationPackage.Name</td>
                    <td>@accomodationPackage.FeePerNight</td>
                    <td>
                        @if (accomodationPackage.AccomodationType != null)
                        {
                            @accomodationPackage.AccomodationType.Name
                        }
                    </td>

                    <td>
                        <button data-href="@Url.Action("Action","AccomodationPackage",new { ID = accomodationPackage.ID})"
                                type="button" class="data-btn btn btn-md btn-success" data-toggle="modal" data-target="#actionModal">
                            <i class="fas fa-edit mr-1"></i>
                        </button>
                        <button data-href="@Url.Action("Delete","AccomodationPackage",new { ID = accomodationPackage.ID})"
                                type="button" class="data-btn btn btn-md btn-danger" data-toggle="modal" data-target="#actionModal">
                            <i class="fas fa-trash-alt mr-1"></i>
                        </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <!-- pager -->
    if (Model.Pager.EndPage > 1)
    {
    <nav>
        <ul class="pagination">
            @if(Model.Pager.CurrentPage > 1)
            {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index","AccomodationPackage",new {Model.SearchTerm,accomodationTypeID = Model.AccomdationTypeID})">
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index","AccomodationPackage",new { page = Model.Pager.CurrentPage -1,Model.SearchTerm,accomodationTypeID = Model.AccomdationTypeID})">
                    <i class="fas fa-angle-left"></i>

                </a>
            </li>
            }

            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index","AccomodationPackage",new { page = page,Model.SearchTerm,accomodationTypeID = Model.AccomdationTypeID})">@page</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","AccomodationPackage",new { page = Model.Pager.CurrentPage + 1,Model.SearchTerm,accomodationTypeID = Model.AccomdationTypeID})">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","AccomodationPackage",new { page = Model.Pager.TotalPages,Model.SearchTerm,accomodationTypeID = Model.AccomdationTypeID })">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </li>
            }
        </ul>
    </nav>
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        Sorry! No Record Exists
    </div>
}

